* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: black;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.logo {
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    max-width: 600px;
}

.line {
    border-color: #660010;
}

.content {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
}

.cs-s {
    width: 100%;
    height: auto;
    margin: 20px auto;
    max-width: 600px;
    cursor: pointer;
    border-style: solid;
    border-color: #660010;
    border-width: 5px;
    border-radius: 30px;
    transition: transform 0.5s ease;
}
.cs-s:hover {
    transform: scale(1.05);
}